<nav>
    <ul>
        <li>
            <a [routerLink]="['/https']" routerLinkActive="router-link-active">http -> https</a>
        </li>
        <li>
            <a [routerLink]="['/loader']" routerLinkActive="router-link-active">Loader</a>
        </li>
        <li>
            <a [routerLink]="['/convert']" routerLinkActive="router-link-active">Convert</a>
        </li>
        <li>
            <a [routerLink]="['/headers']" routerLinkActive="router-link-active">Headers</a>
        </li>
        <li>
            <a [routerLink]="['/notify']" routerLinkActive="router-link-active">通知</a>
        </li>
    </ul>
</nav>

<router-outlet></router-outlet>
